@model WowCarry.Domain.Entities.ProductOptionDetails.ProductOptionParamsDetails

    <div class="param-fields">
        @Html.HiddenFor(x => Model.ParameterId)
        <div>
            @Html.TextBoxFor(x => Model.Paramname, new { @class = "Param_name" })
        </div>
        <div>
            @Html.TextBoxFor(x => Model.ParamTooltip)
        </div>
        <div>
            @Html.TextBoxFor(x => Model.ParamPrice)
        </div>
        <div>
            @Html.TextBoxFor(x => Model.Sale)
        </div>
        <div class="pddParent">
            @if (Model.ParamParentList?.Count() > 0)
            {
                @Html.DropDownListFor(x => Model.ParentParam, Model.ParamParentList, "Empty")
            }
            else
            {
                @Html.DropDownListFor(x => Model.ParentParam, Enumerable.Empty<SelectListItem>())
            }
            @Html.HiddenFor(x => Model.ParentParam)
        </div>
        <div><span class="remove-param"></span></div>
    </div>

