@model WowCarry.Domain.Entities.ProductOptionDetails 
@using System.Text.RegularExpressions

@using (Html.BeginCollectionItem("ProductOptions"))
{
    <div class="opt-body @Regex.Replace(@Model.OptionName.Replace(" ","_"), @"[)(]", "")">
        @Html.HiddenFor(x => Model.OptionId)
        <div class="OptionName">
            <label>Option Name</label>
            @Html.EditorFor(x => Model.OptionName)
        </div>
            <label>Option Type</label>
        @Html.EditorFor(x => Model.OptionType)
        <div class="ddParent">
            <label>Option Parent</label>
            @if (Model.ParentOptionList?.Count() >0)
            {
                @Html.DropDownListFor(m => Model.OptionParent, Model.ParentOptionList, "Empty")
            }
            else
            {
                @Html.DropDownListFor(m => Model.OptionParent, Enumerable.Empty<SelectListItem>())
            }
        </div>
        <div class="param-list">
            <div class="param-titles">
                <div>Name</div>
                <div>Tooltip</div>
                <div>Price</div>
                <div>Sale</div>
                <div class="parent-title">Parent</div>
            </div>
            @if (Model.ParamCollection != null)
            {
                @Html.EditorFor(x => x.ParamCollection)
            }
        </div>
        <div class="add-param-block">
            <label>Add Parameter</label>
            @Html.DropDownList("Parameter Parent", Model.ParamList, Model.ParamList?.SelectedValue != null ? Model.ParamList.SelectedValue.ToString() : "Empty")
            <div class="param-add btn">Add</div>
        </div>
    </div>
}
<script>
    setTitle()
    function setTitle() {
        var htmlString = "<div class=\"opt-head\"id=\"@Regex.Replace(@Model.OptionName.Replace(" ","_"), @"[)(]", "")\">@Model.OptionName<span class=\"remove-option\"></span></div>"
        $('.titles-options').append(htmlString)
    }
</script>
