@model WowCarry.Domain.Entities.HtmlBlockDetails


@for (var i = 0; i < Model.HtmlBlockChildDetailsCollection.Count(); i++)
{
    <div class="param-fields">
        <h2>Child</h2>
        @Html.HiddenFor(x => Model.HtmlBlockChildDetailsCollection.ElementAt(i).SiteBlockChildsId)
        <div class="input-block">
            <label>Text</label>
            @Html.TextAreaFor(x => Model.HtmlBlockChildDetailsCollection.ElementAt(i).Text)
        </div>
        <div class="input-block">
            <label>Title</label>
            @Html.TextBoxFor(x => Model.HtmlBlockChildDetailsCollection.ElementAt(i).Title)
        </div>
        <div class="input-block">
            <label>Image</label>
            @Html.TextBoxFor(x => Model.HtmlBlockChildDetailsCollection.ElementAt(i).Image)
        </div>
        <div class="input-block">
            <label>CSS Class</label>
            @Html.TextBoxFor(x => Model.HtmlBlockChildDetailsCollection.ElementAt(i).CSSClass)
        </div>
        <div class="input-block">
            <label>ChildOrder</label>
            @Html.TextBoxFor(x => Model.HtmlBlockChildDetailsCollection.ElementAt(i).ChildOrder)
        </div>
        <div><span class="remove-param"></span></div>
    </div>
}