@model WowCarry.Domain.Entities.HtmlBlockDetails.HtmlBlockChildrenDetails

@using (Html.BeginCollectionItem("HtmlBlockChildDetailsCollection"))
{
<div class="param-fields">
    <h2>Item <span class="remove-htmlbox">X</span></h2>
    @Html.HiddenFor(x => Model.SiteBlockChildsId)
    <div class="input-block">
        <label>Text</label>
        @Html.TextAreaFor(x => Model.Text)
    </div>
    <div class="input-block">
        <label>Title</label>
        @Html.TextBoxFor(x => Model.Title, new {@class = "ChildTitle" })
    </div>
    <div class="imageBlock">
        <div class="upload-box">
            <label for="Image">Upload Image:</label>
            <label for="Image" class="upload-btn btn">Upload</label>
            <input type="file" name="file" id="Image" class="HtmlBlockChildrenImageUpload" style="display:none;" />
        </div>
        <div class="img-prew">
            <label for="file">Html Block Image Prev</label>
            <div class="imgPrewIn">
                <img class="imgHtmlBlock" src="@Model.Image" />
            </div>
            @Html.HiddenFor(m => m.Image, new { @readonly = "readonly" })
        </div>
    </div>
    <div class="input-block">
        <label>CSS Class</label>
        @Html.TextBoxFor(x => Model.CSSClass)
    </div>
    <div class="input-block">
        <label>ChildOrder</label>
        @Html.TextBoxFor(x => Model.ChildOrder)
    </div>
    <div><span class="remove-param"></span></div>
</div>
}