@model IEnumerable<WowCarry.Domain.Entities.SEO>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdminSEO</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MetaTagTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MetaTagDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MetaTagKeyWords)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SEOTags)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomTitle1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomTitle2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomImageTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomImageAlt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MetaRobots)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrlKeyWord)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SEOImage)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MetaTagTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MetaTagDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MetaTagKeyWords)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SEOTags)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomTitle1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomTitle2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomImageTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomImageAlt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MetaRobots)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UrlKeyWord)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SEOImage)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.SEOId }) |
                @Html.ActionLink("Details", "Details", new { id=item.SEOId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.SEOId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
