@model WowCarry.Domain.Entities.HtmlBlockDetails.HtmlBlockChildrenDetails

@using (Html.BeginCollectionItem("HtmlBlockChildrenDetails"))
{
    <div class="param-fields">
        <h2>Child</h2>
        @Html.HiddenFor(x => Model.SiteBlockChildsId)
        <div class="input-block">
            <label>Text</label>
            @Html.TextAreaFor(x => Model.Text)
        </div>
        <div class="input-block">
            <label>Title</label>
            @Html.TextBoxFor(x => Model.Title)
        </div>
        <div class="input-block">
            <label>Image</label>
            @Html.TextBoxFor(x => Model.Image)
        </div>
        <div class="input-block">
            <label>CSS Class</label>
            @Html.TextBoxFor(x => Model.CSSClass)
        </div>
        <div class="input-block">
            <label>ChildOrder</label>
            @Html.TextBoxFor(x => Model.ChildOrder)
        </div>
        <div><span class="remove-param"></span></div>
    </div>
}