@model WowCarry.Domain.Entities.ProductOptionDetails

    <div class="opt-body @Model.OptionName.ToString().Replace(' ','_')">
        @foreach (var property in ViewData.ModelMetadata.Properties)
        {

            if (property.PropertyName == "ParamCollection")
            {
                <div class="param-list">

                    <div class="param-titles">
                        <div>Name</div>
                        <div>Tooltip</div>
                        <div>Price</div>
                        <div>Sale</div>
                        <div class="parent-title">Parent</div>
                    </div>

                    @foreach (var item in Model.ParamCollection)
                    {
                        @Html.Partial("Param", item)
                    }
                </div>
            }
            else
            {
                if (property.PropertyName == "OptionParent")
                {
                    <div class="ddParent">
                        <label>@(property.DisplayName ?? property.PropertyName):</label>
                        @Html.DropDownList("Option Parameter Parent", Model.ParentOptionList, Model.ParentOptionList.SelectedValue != null ? Model.ParentOptionList.SelectedValue.ToString() : "Empty")
                        @Html.HiddenFor(m => m.OptionParent)
                    </div>
                }
                else if (property.PropertyName != "ParentOptionList" && property.PropertyName != "ProductOptionId" && property.PropertyName != "ParamList")
                {
                    <label>@(property.DisplayName ?? property.PropertyName):</label>
                    @Html.Editor(property.PropertyName, new { @class = "form-control" })
                }
            }
        }
    <div class="add-param-block">
        <label>Add Parameter</label>
        @Html.HiddenFor(x => x.OptionName)
        @Html.HiddenFor(x => x.ProductOptionId)
        @Html.DropDownList("Parameter Parent", Model.ParamList, Model.ParamList.SelectedValue != null ? Model.ParamList.SelectedValue.ToString() : "Empty")
        <div class="param-add btn">Add</div>
    </div>
    </div>

