@model WebUI.Models.ProductOptionsViewModel

@using (Html.BeginForm("SaveProductOption", "Admin", FormMethod.Post))
{
    @Html.HiddenFor(x => x.ProductId)
    <div class="panel-heading">
        <h3> @("Product name")</h3>
        <div class="save-btns">

            <input type="submit" value="Save" class="btn" id="Submit" />
            <input type="submit" value="Save and go to Product" class="btn btn-save" id="goToProd" />
            @Html.ActionLink("Undo and Exit", "Admin", null, new
            {
                @class = "btn btn-default"
            })
        </div>
    </div>
    <div class="options-tabs">
        <div class="titles-options"> @Html.SetTabsForOptions(Model.ProductOptions.Select(o => o.OptionName)) </div>
        
        @foreach (var option in Model.ProductOptions)
        {
            @Html.Action("OptionsList", new { optionName = option.OptionName, prodId = option.OptionProductId })
        }
    </div>
    <div class="clear"></div>
    <div class="newOptions">
        <div class="title">Add New Option</div>
        @Html.DropDownList("Template Options", Model.TemplateOptionList)
        <div class="option-add btn">Add</div>
    </div>
    <div class="clear"></div>
    <div class="panel-footer">
        <div class="save-btns">

            <input type="submit" value="Save" class="btn" id="Submit" />
            <input type="submit" value="Save and go to Product" class="btn btn-save" id="goToProd" />
            @Html.ActionLink("Undo and Exit", "Admin", null, new
            {
                @class = "btn btn-default"
            })
        </div>
        <div class="clear"></div>
    </div>
}


