@{
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

<!DOCTYPE html>
@if (controllerName != "Admin")
{

    <html>
    @RenderPage("~/Views/Shared/_Header.cshtml")
    <body>
        @RenderBody()
    </body>
    @RenderPage("~/Views/Shared/_Footer.cshtml")
</html>
}
else
{

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/umd/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/bootstrap-select.min.css">
    <script src="~/Scripts/bootstrap-select.min.js"></script>
    <link href="~/Content/CSS/StylesAdmin.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

</head>
<body>

    <div class="cover">
        <div class="left-column">
            <ul class="list-unstyled">
                <li>@Html.RouteLink("Home", "AdminItem", new {Action="Admin"}, new {@class = Html.AdminIsSelected("Admin")})</li>
                <li>@Html.RouteLink("Products", "AdminItem", new { Action = "List", type = "Product" }, new { @class = Html.AdminIsSelected("AdminProducts") }) </li>
                <li>@Html.RouteLink("Options", "AdminItem", new { Action = "List", type = "ProductOption" }, new { @class = Html.AdminIsSelected("AdminOptions") }) </li>
                <li>@Html.RouteLink("Product Games", "AdminItem", new { Action = "List", type = "ProductGame" }, new { @class = Html.AdminIsSelected("AdminProductGames") }) </li>
                <li>@Html.RouteLink("Html Blocks", "AdminItem", new { Action = "List", type = "HtmlBlocks" }, new { @class = Html.AdminIsSelected("AdminHtmlBlocks") }) </li>
                <li>@Html.RouteLink("SEO", "AdminItem", new { Action = "List", type = "SEO" }, new { @class = Html.AdminIsSelected("AdminSEO") }) </li>
            </ul>
        </div>
        <div class="content">
            @RenderBody()
        </div>
        <div class="clear"></div>
    </div>
    <footer>
    </footer>
</body>
</html>

}

