@model IEnumerable<WowCarry.Domain.Entities.ProductOptions>

@*Родительские Опции*@

@foreach (var ParentOption in Model.Where(o => o.OptionParentId == null))
{
    <div>
        @ParentOption.OptionName
        @foreach (var param in @ParentOption.ProductOptionParams)
        {
            <div>
                @param.ParameterName
                <div>
                    @foreach (var childOption in @Model.Where(o => o.OptionParentId == ParentOption.OptionId))
                    {
                        <div>
                            @foreach (var childParam in childOption.ProductOptionParams)
                            {
                                if (childParam.ParameterParentId == param.ParameterId)
                                {
                                    <div>
                                        @childParam.ParameterName
                                    </div>
                                }
                            }

                        </div>
                    }
                </div>
            </div>
        }
    </div>
}

